CDM/CDM/src/HR/cdm/v1.0/wsdl/SalaryChangeProcessingService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="http://acme.com/hr/salarychange/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://acme.com/hr/salarychange/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:cdm="http://acme.com/xsd">
  <types>
    <xsd:schema targetNamespace="http://acme.com/hr/salarychange/types" elementFormDefault="qualified"/>
    <xsd:schema>
      <xsd:import namespace="http://acme.com/xsd" schemaLocation="../xsd/CDM.xsd"/>
    </xsd:schema>
  </types>
  <message name="InitiateSalaryChangeProcessingInputMsg">
    <part name="params" element="cdm:salaryChange"/>
  </message>
  <message name="InitiateSalaryChangeProcessingCallbackMsg">
    <part name="params" element="cdm:salaryChangeProcessing"/>
  </message>
  <portType name="SalaryChangeProcessingService_pt">
    <operation name="initiateSalaryChangeProcessing">
      <input message="tns:InitiateSalaryChangeProcessingInputMsg"/>
    </operation>
  </portType>
  <portType name="SalaryChangeProcessingServiceCallback_pt">
    <operation name="initiateSalaryChangeProcessingCallback">
      <input message="tns:InitiateSalaryChangeProcessingCallbackMsg"/>
    </operation>
  </portType>
  <!--<partnerLinkType name="SalaryChangeProcessing_PartnerLink"
                   xmlns="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <role name="SalaryChangeProcessing_Provider">
      <portType name="tns:SalaryChangeProcessingService_pt"/>
    </role>
    <role name="SalaryChangeProcessing_Consumer">
      <portType name="tns:SalaryChangeProcessingServiceCallback_pt"/>
    </role>
  </partnerLinkType>-->
</definitions>