BPM/SalaryChangeProcessingBPM/SOA/WSDLs/SalaryChangeProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SalaryChangeProcess" xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/Data/SalaryChange"  xmlns:tns7="http://xmlns.oracle.com/bpm/bpmobject/Data/SalaryChangeProcessing"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/SalaryChangeProcess"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SalaryChangeProcess">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Data/SalaryChange" schemaLocation="../businessCatalog/Data/SalaryChange.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Data/SalaryChangeProcessing" schemaLocation="../businessCatalog/Data/SalaryChangeProcessing.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:SalaryChange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns7:SalaryChangeProcessing"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="SalaryChangeProcessPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="SalaryChangeProcessPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="SalaryChangeProcessPortTypePartnerLinkType">
        <plnk:role name="SalaryChangeProcessPortTypeProvider">
            <plnk:portType name="tns:SalaryChangeProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
