SOA/SalaryChangeProcessing/SOA/WSDLs/SalaryProcessingBPEL.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="SalaryProcessingBPEL"
     targetNamespace="http://xmlns.oracle.com/SOA/SalaryChangeProcessing/SalaryProcessingBPEL"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/SOA/SalaryChangeProcessing/SalaryProcessingBPEL"
     xmlns:ns1="http://acme.com/xsd"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    >
    <plnk:partnerLinkType name="SalaryProcessingBPEL">
        <plnk:role name="SalaryProcessingBPELProvider" portType="client:SalaryProcessingBPEL"/>
        <plnk:role name="SalaryProcessingBPELRequester" portType="client:SalaryProcessingBPELCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://xmlns.oracle.com/SOA/SalaryChangeProcessing/SalaryProcessingBPEL"
             xmlns:ns1="http://acme.com/xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
            <import namespace="http://acme.com/xsd" schemaLocation="oramds:/apps/HR/cdm/v1.0/xsd/CDM.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="SalaryProcessingBPELRequestMessage">
        <wsdl:part name="payload" element="ns1:salaryChange"/>
    </wsdl:message>
    <wsdl:message name="SalaryProcessingBPELResponseMessage">
        <wsdl:part name="payload" element="ns1:salaryChangeProcessing"/>
    </wsdl:message>
    <wsdl:portType name="SalaryProcessingBPEL">
        <wsdl:operation name="process">
            <wsdl:input message="client:SalaryProcessingBPELRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="SalaryProcessingBPELCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:SalaryProcessingBPELResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
